body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);

  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-left: -15px;
    margin-bottom: 20px;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }
  
  .logo img {
    width: 80%;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .content {
    transition: margin-left 0.5s;
    padding: 16px;
  }
  
  .open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #8BCBF9;
    color: #fff;
    border: none;
  }
  
  .open-btn:hover {
    background-color: #444;
  }

  
  .social-icons {
    text-align: center;
    width: 60%;
    margin: 0 auto; /* Para centrar horizontalmente */
  }
  
  .social-icons a {
    display: inline-block;
    margin: 10px;
  }
  
  .social-icons img {
    width: 30px; /* Ajusta el tamaño de los iconos según sea necesario */
    height: auto;
  }
        